.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white ;
    height: 80px;
 }
 
 .nav-profile{
    width: 75px;
 }
 @media(max-width:800px){
   .nav-logo{
      width: 150px;
   }
   .nav-profile{
      width: 60px;
   }
 }